.navbar-Header {
 font-weight: bold;
 color: #FFFFFF;
 font-family: 'Open Sans', sans-serif;
}


*,html,body {
  font-family: 'Open Sans', sans-serif;
}


.header {
  font-weight: bold;
  font-size: 48px;
}

.subheader {
  font-weight: bold;
  font-size: 28px;
}

.subsubheader {
  font-weight: bold;
  font-size: 22px;
}

.paragraph {
  font-weight: bold;
  font-size: 18px;
}
